@namespace UpsAndDowns.Components
@inject IJSRuntime JsRuntime

<link href="css/player.css" rel="stylesheet" />

<div class="modal" tabindex="-1" style="display:block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">What has happened to Player #@SelectedPlayer?.PlayerNumber?</h5>
            </div>
            <div class="modal-body">
                @if (SelectedPanel == "movedOnBoard")
                {
                    <div>
                        <h5>Moved On Board</h5>
                        <p>Details about moving on board...</p>
                        <button type="button" class="btn btn-primary player-menu-buttons standard" onclick="@(async () => await SetLandedSpace("Blank"))">Blank Space</button>
                        <button type="button" class="btn btn-primary player-menu-buttons standard" onclick="@(async () => await SetLandedSpace("Education"))">Education Space</button>
                        <button type="button" class="btn btn-primary player-menu-buttons standard" onclick="@(async () => await SetLandedSpace("Promotion"))">Promotion Space</button>
                        <button type="button" class="btn btn-primary player-menu-buttons standard" onclick="@(async () => await SetLandedSpace("Marriage"))">Marriage Space</button>
                        <button type="button" class="btn btn-primary player-menu-buttons standard" onclick="@(async () => await SetLandedSpace("Events"))">Events Space</button>
                        <button type="button" class="btn btn-primary player-menu-buttons standard" onclick="@(async () => await SetLandedSpace("Car"))">Buy Car Space</button>
                        <button type="button" class="btn btn-primary player-menu-buttons standard" onclick="@(async () => await SetLandedSpace("House"))">Buy House Space</button>
                    </div>
                }
                else if (SelectedPanel == "cashMoney")
                {
                    <div>
                        <h5>Cash Money</h5>
                        <p>Details about cash money...</p>
                    </div>
                }
                else if (SelectedPanel == "lifePoints")
                {
                    <div>
                        <h5>Life Points</h5>
                        <p>Details about life points...</p>
                    </div>
                }
                else if (SelectedPanel == "salary")
                {
                    <div>
                        <h5>Salary</h5>
                        <p>Details about salary...</p>
                    </div>
                }
                else if (SelectedPanel == "house")
                {
                    <div>
                        <h5>House</h5>
                        <p>Details about house...</p>
                    </div>
                }
                else if (SelectedPanel == "car")
                {
                    <div>
                        <h5>Car</h5>
                        <p>Details about car...</p>
                    </div>
                }
                else if (SelectedPanel == "education")
                {
                    <div>
                        <h5>Education</h5>
                        <p>Details about education...</p>
                    </div>
                }
                else if (SelectedPanel == "career")
                {
                    <div>
                        <h5>Career</h5>
                        <p>Details about career...</p>
                    </div>
                }
                else if (SelectedPanel == "marriage")
                {
                    <div>
                        <h5>Marriage</h5>
                        <p>Details about marriage...</p>
                    </div>
                }
                else if (SelectedPanel == "children")
                {
                    <div>
                        <h5>Children</h5>
                        <p>Details about children...</p>
                    </div>
                }
                else {
                    <h4>The Usual Happened</h4>
                    <button type="button" class="btn btn-primary player-menu-buttons standard" onclick="@(async () => await ShowPanel("movedOnBoard"))">Moved On Board</button>
                    <button type="button" class="btn btn-primary player-menu-buttons standard" onclick="@(async () => await ShowPanel("cashMoney"))">Cash Money</button>
                    <button type="button" class="btn btn-primary player-menu-buttons standard" onclick="@(async () => await ShowPanel("lifePoints"))">Life Points</button>
                    <h4>Something Else Changed</h4>
                    <button type="button" class="btn btn-primary player-menu-buttons assets" onclick="@(async () => await ShowPanel("salary"))">Salary</button>
                    <button type="button" class="btn btn-primary player-menu-buttons assets" onclick="@(async () => await ShowPanel("house"))">House</button>
                    <button type="button" class="btn btn-primary player-menu-buttons assets" onclick="@(async () => await ShowPanel("car"))">Car</button>
                    <button type="button" class="btn btn-primary player-menu-buttons life-events" onclick="@(async () => await ShowPanel("education"))">Education</button>
                    <button type="button" class="btn btn-primary player-menu-buttons life-events" onclick="@(async () => await ShowPanel("career"))">Career</button>
                    <button type="button" class="btn btn-primary player-menu-buttons life-events" onclick="@(async () => await ShowPanel("marriage"))">Marriage</button>
                    <button type="button" class="btn btn-primary player-menu-buttons life-events" onclick="@(async () => await ShowPanel("children"))">Children</button>
                }
            </div>
            <div class="modal-footer operations">
                @if (SelectedPanel != "default")
                {
                    <button type="button" class="btn btn-secondary ops-back" onclick="@(async () => await ShowPanel("default"))">Back</button>
                }
                <button type="button" class="btn btn-secondary ops-close" @onclick="async () => await OnClick.InvokeAsync(null)">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Player? SelectedPlayer { get; set; }
    [Parameter]
    public EventCallback OnClick { get; set; }
    public string SelectedPanel = "default";

    protected override void OnInitialized()
    {
        //Console.WriteLine($"Rendering PlayerDetailsComponent for Player {Player.PlayerNumber}");
    }

    public async Task ShowPanel(string panel)
    {
        Console.WriteLine("ShowPanel: '" + panel + "' for player " + SelectedPlayer?.PlayerNumber);
        SelectedPanel = panel;
    }

    public async Task SetLandedSpace(string space)
    {
        Console.WriteLine("SetLandedSpace: '" + space + "' for player " + SelectedPlayer?.PlayerNumber);
        SelectedPlayer.SetLandedSpace(space);
    }
}